<div class="modal {{if @shouldDisplay "" "hidden"}}">
    <div class="modal-content">
        <h2>Login</h2>
        <form>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="button" {{on "click" this.handleClick}}>Login</button>
        </form>
    </div>
</div>
{{yield}}
